<h1 class="text-center">Users</h1>
<hr>

<div class="row">
    <% @users.each do |user| %>
        <div class="col-md-6">
            <div class="media">
                <div class="media-body">
                    <h4><%= link_to user.name, user %></h4>
                </div>
            </div>
        </div>
    <% end %>
</div>
