<footer>
    <hr>
    <div class="container">
        <span class="float-left text-muted">Awesomeblog Application &copy; FramgiaPH</span>

        <nav class="float-right">
            <%= link_to "Home", root_path, class: 'text-muted' %>
            <%= link_to "About", about_path, class: 'text-muted' %>
        </nav>
    </div>
</footer>
